.venv
__pycache__
.DS_Store
*.gp5
*.png
*.pth
RESULTS
output.log
log.txt
_papers/JMLR/*.aux
_papers/JMLR/*.log
_papers/JMLR/*.out
_papers/JMLR/*.synctex.gz
_papers/JMLR/*.blg
_papers/*.bbl
*.fls
*.fdb*